spring:
  config:
    import: optional:classpath:.env[.properties]
  application:
    name: pizzadev
  datasource:
    url: jdbc:postgresql://localhost:5432/pizzadev
    username: ${ENV_POSTGRES_USER}
    password: ${ENV_POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
logging:
  level:
    org.hibernate.orm.jdbc.bind: trace
server:
  error:
    include-stacktrace: never